body {
    background-color: lightgrey;
    padding: 20px;
}

.board {
    background-color: rgb(233, 173, 173);
    width: 1000px;
    height: 500px;
    position: relative;
}


/* .player {
    background: white;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
} */

.player img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.obstacle {
    background: rgb(122, 150, 158);
    position: absolute;
    /* left: 160px;
    top: 0;
    height: 300px;
    width: 20px; */
}

.lives {
    position: relative;
    color: black;
    border: black solid 2px;
    width: 160px;
    background-color: white;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
}